*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url(img/fundo.png);
    background-color: #d2d2d2;
    font: 16px Arial, Helvetica, sans-serif;
}

header {
    margin-left: 12px ;
}
main{
margin-left: 12px ;
}
footer{
margin-left: 12px ;

}

/*Começo do menu*/
nav{
background-color: #c5c5b2 ;
width: 900px;
height: 60px;
}
ul{
    padding-top: 7px;
}
li {
    list-style: none;
    display:inline-block;
    padding: 15px;
    font-size: 0.9em;
}
li a{
    text-decoration: none;
    color: #4b566a;
    font-weight: bold;
    
}   

/*Fim do menu*/

/* Começo Main*/

/* Final Main*/