*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #d2d2c1;
    background-image: url('images/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
}

header {
    margin-left: 12px ;
} 

footer{
margin-left: 12px ;

}

/*Começo do menu*/
nav{
background-color: #c5c5b2 ;
width: 900px;
height: 60px;
}
ul{
    padding-top: 7px;
}
li {
    list-style: none;
    display:inline-block;
    padding: 15px;
    font-size: 0.9em;
}
li a{
    text-decoration: none;
    color: #4b566a;
    font-weight: bold;
    
}   

/*Fim do menu*/

/* Começo Main*/
main{
margin-left: 12px ;
background-color: #e8e8d9;
padding: 10px;

}
main h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #828271;
    font-size: 1.8em;
}

main p{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.bio {
    border: 10px solid #d2d2c1;
}
/* Final Main*/

/*começo footer*/

footer h4{
    padding: 50px;
    text-align: center;
}
/*final footer*/